h1{
    font-size: 8rem;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
    margin-bottom: 0;
    
}
p{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
body{
    background-color: #393E46;
}
button{
    color: white;
    background-color: orange;
    border: none;
    border-radius: 15px;
    padding: 30px 50px;
    margin-top: 40px;
    font-size: 4rem;
}
button:hover{
    color: black;
    background-color: green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.dice{
    display: inline-block;
    margin: 40px;
}

.container{
    size: 200px;
}
